@font-face {
  font-family: 'Balatro';
  src: url('assets/fonts/m6x11plus.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


html, body {
  margin: 0px;
  background-color: #fafafa;
  color: white;
  font-family: 'Balatro', sans-serif;
}

.titulo {
  text-align: center;
  background-color: rgb(65, 65, 65);
  color: rgb(255, 255, 255);
  padding: 20px;
  font-size: 36px;
}

.btn {
  width: 180px;
  justify-content: space-around;
  margin: 5px;
  font-size: 36px;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0px 5px 2px rgba(0, 0, 0, 0.5);

}

.contenedor{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:   100%;
  padding: 10px;
}

.deckCentral {
  margin: 0 auto;
  text-align: center;
}

.nombresJugadores{  width: 100%;
  background-color: rgba(192, 192, 192, 0.692);
  margin-top: 50px;
  border-radius: 15px;
  border-style: solid;
  border-color: rgb(216, 215, 215);
  font-size: 36px;
  color: rgb(65, 65, 65);
  box-shadow: 0px 5px 2px rgba(0, 0, 0, 0.5);
  text-align-last: justify;
}

.itemIzq {
  padding-left: 10px;
  padding-right: 1px;
}

.itemDer {
  padding-left: 1px;
  padding-right: 10px;
}

.puntuacion{
  display: inline-block;
  background-color: rgb(65, 65, 65);
  width: 60px;
  border-radius: 15px;
  border: solid;
  border-color: rgb(216, 215, 215);
  text-align-last: center;
  font-size: 36px;
  color: white;
}

.carta {
  position: relative;
  width: 180px;
  left: 100px;
  margin-left: -75px;
  background-color: white;
  border-radius: 12px;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(180, 180, 180);
  box-shadow: -1px 1px 4px rgba(0, 0, 0, 0.5);
}

.deckImagen{
  width: 180px;
  border-radius: 12px;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(180, 180, 180);
  box-shadow: -1px 1px 4px rgba(0, 0, 0, 0.5);
}

#computadora-cartas, #jugador-cartas {
  height: 240px;
  margin-top: 20px;
}


